In [4]:
%matplotlib inline

import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

data = pd.read_csv('C:\Users\Andrew\Documents\GitHub\NBA\NBA.CSV', parse_dates=['DATE'])
data.head()

,DATA_SET,DATE,PLAYER_FULL_NAME,POSITION,OWN_TEAM,OPP TEAM,VENUE,MIN,FG,FGA,...,FTA,OR,DR,TOT,A,PF,ST,TO,BL,PTS
0,2014-2015 Regular Season,2014-10-28,Tobias Harris,SF,Orlando,New Orleans,R,36.6,9,18,...,6,2,6,8,0,2,1,4,0,25
1,2014-2015 Regular Season,2014-10-28,Kyle O'Quinn,PF,Orlando,New Orleans,R,21.4,2,8,...,0,0,2,2,5,4,1,1,3,4
2,2014-2015 Regular Season,2014-10-28,Nikola Vucevic,C,Orlando,New Orleans,R,35.1,7,15,...,2,5,18,23,1,2,1,1,4,15
3,2014-2015 Regular Season,2014-10-28,Evan Fournier,SG,Orlando,New Orleans,R,32.3,3,11,...,3,1,2,3,2,2,0,4,0,11
4,2014-2015 Regular Season,2014-10-28,Elfrid Payton,PG,Orlando,New Orleans,R,30.8,2,8,...,0,3,2,5,7,5,1,2,0,4

In [5]:
data['DATE']

0       2014-10-28
1       2014-10-28
2       2014-10-28
3       2014-10-28
4       2014-10-28
5       2014-10-28
6       2014-10-28
7       2014-10-28
8       2014-10-28
9       2014-10-28
10      2014-10-28
11      2014-10-28
12      2014-10-28
13      2014-10-28
14      2014-10-28
15      2014-10-28
16      2014-10-28
17      2014-10-28
18      2014-10-28
19      2014-10-28
20      2014-10-28
21      2014-10-28
22      2014-10-28
23      2014-10-28
24      2014-10-28
25      2014-10-28
26      2014-10-28
27      2014-10-28
28      2014-10-28
29      2014-10-28
           ...
27603   2015-06-14
27604   2015-06-14
27605   2015-06-14
27606   2015-06-14
27607   2015-06-14
27608   2015-06-14
27609   2015-06-14
27610   2015-06-14
27611   2015-06-14
27612   2015-06-14
27613   2015-06-14
27614   2015-06-14
27615   2015-06-16
27616   2015-06-16
27617   2015-06-16
27618   2015-06-16
27619   2015-06-16
27620   2015-06-16
27621   2015-06-16
27622   2015-06-16
27623   2015-06-16
27624   2015-06-16
27625   2015-06-16
27626   2015-06-16
27627   2015-06-16
27628   2015-06-16
27629   2015-06-16
27630   2015-06-16
27631   2015-06-16
27632   2015-06-16
Name: DATE, dtype: datetime64[ns]